# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# custom
settings.gradle

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run_server

# Files from Forge MDK
forge*changelog.txt

src/main/generated/
